.menu a{
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(https://cortizg.github.io/cv/fonts/ubuntu.woff) format('woff');
}

body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
    background-color: #dff0ea;
}

hr {
  width: 5%;
  border-width:5px;
  border-style:dotted none none;
  border-color: lightblue;
}

h1, h3 {
  color: #8186d5;
}
